* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 700px;
	height: 700px;
	padding: 100px;
	margin: auto;
	-webkit-transform: translateY(150px);
}
#stage {
	display: block;
	position: relative;
	height: 500px;
	width: 500px;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotateX(80deg) rotateY(0deg) rotateZ(250deg);
	background: grey;

}
.wrap {
	// perspective: 800px;
	// perspective-origin: 0 0;
}
.cube {
	position: absolute;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	div {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 1px solid black;
		opacity: 0.5;
	}
	.back {
		transform: translateZ(0) rotateY(180deg);
		&:nth-of-type(2n) {
			background: #d0e098;
		}
	}
	.right {
		transform: rotateY(-270deg) translateX(0);
		transform-origin: top right;
	}
	.left {
		transform: rotateY(270deg) translateX(0);
		transform-origin: center left;
	}
	.top {
		transform: rotateX(-90deg) translateY(-100px);
		transform-origin: top center;
	}
	.bottom {
		transform: rotateX(90deg) translateY(100px);
		transform-origin: bottom center;
	}
	.front {
		transform: translateZ(100px);
	}
}